<div id="breadcrumbs" class="breadcrumbs">
	<ul class="breadcrumb">
		<li> <a href="#!/home">首页</a> </li>
		<li class="active">修改密码</li>
	</ul>
</div>
<div class="account-recharge">
<h1>修改密码</h1>
<form>
<ul class="control-group">
	<li class="controls">
		<div class="col-md-1">当前密码：</div>
		<div class="col-md-10"><input type="password" id="oldpassword"></div>
	</li>
	<li class="controls">
		<div class="col-md-1">新密码：</div>
		<div class="col-md-10"><input type="password" id="newpassword"></div>
	</li>
	<li class="controls">
		<div class="col-md-1">确认密码：</div>
		<div class="col-md-10"><input type="password" id="repassword"></div>
	</li>
</ul>
<input type="button" class="btn btn-info" value="确认修改" ng-click="submit()">
</form>
</div>