<div id="breadcrumbs" class="breadcrumbs">
	<ul class="breadcrumb">
		<li> <a href="#!/home">首页</a> </li>
		<li class="active">商品管理</li>
	</ul>
</div>
<div class="clearfix products-header">
	<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">上传新宝贝</h3>
        </div>
        <div class="modal-body">
            <div class="row">
            	<div class="col-md-2">宝贝地址：</div>
            	<div class="col-md-10"><input id="pd_detail_url" type="text" class="form-control"></div>
            </div>
            <div class="row">
            	<div class="col-md-offset-2 col-md-10">我们会根据您提供的地址，自动抓取您的价格等信息</div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">确定</button>
            <button class="btn btn-warning" ng-click="cancel()">取消</button>
        </div>
    </script>
	<h1 class="fl">商品管理</h1>
	<button type="button" class="fr btn btn-primary" ng-click="open()">上传新宝贝</button>
</div>
<div>
    <table class="display" my-datatable dt-options="overrideOptions"
		dt-data="sampleProductCategories"
        >
    </table>
</div>