<div id="breadcrumbs" class="breadcrumbs">
	<ul class="breadcrumb">
		<li> <a href="#!/home">首页</a> </li>
		<li class="active">充值</li>
	</ul>
</div>
<div class="account-recharge">
<h1>充值</h1>
<h2>
	账户余额：<strong class="green">{{balance}}</strong>
</h2>
<form>
<ul class="control-group">
	<li class="controls">
		<input class="amount" type="radio" name="amount" checked>自定义充值金额：
		<input type="text" id="money">
	</li>
	<li class="controls">
		<input class="amount" type="radio" name="amount">500元
	</li>
	<li class="controls">
		<input class="amount" type="radio" name="amount">1000元
	</li>
	<li class="controls">
		<input class="amount" type="radio" name="amount">2000元
	</li>
	<li class="controls">
		<input class="amount" type="radio" name="amount">5000元
	</li>
</ul>
<input type="button" class="btn btn-info" value="立即充值">
</form>
</div>